.login-form {
/*     width: 400px;
    margin-left: 50px; */
}
.error{
	color: red;
	font-size:small;
/* 	text-indent: 65px;
	margin-top: 5px; */
}

.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }

.table tbody tr td div.alert-danger, 
.table tbody tr td div.alert-success {
	background-color: transparent;
}

.table tbody tr td{
	height: 58px;
}

.filter-taken-books {
    float: right;
    margin-top: -45px;
    margin-right: 5px;
}
.return-book, .take-book {
    margin: 3px;
}
.current-user-label {
	vertical-align: middle;
	padding:15px;
	line-height: 20px;
	color: #555;	
}

/* to set width of bootstrap-tables's column directly */ 
/*  #book-list-table tr td:nth-child(1){
    width:70%;
}
 */

.profile-view-labels label {
	line-height: 25px;
}
 