.login-form {
/*     width: 400px;
    margin-left: 50px; */
}
.error{
	color: red;
	font-size:small;
/* 	text-indent: 65px;
	margin-top: 5px; */
}

.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }

#table tbody tr td div.alert-danger, #table tbody tr td div.alert-success {
	background-color: transparent;
}

#table tbody tr td{
	height: 58px;
}